<style>
.btnpadding {
    margin: 10px;
}
</style>
<div id="ticketsbuttons" class="p-5">
    <p class="h4 mb-4">Actions</p>
    <div class="row">
        <button type="button" class="btn btn-primary btnpadding" onclick="location.href = '/tickets/<%= ticket_s[13].data%>';" >Edit This Tickets</button>
        <button type="button" class="btn btn-secondary btnpadding" onclick="location.href = '/tickets/doc/<%= ticket_s[13].data%>';" >View This Customer's Ticket Documents</button>
        <button type="button" class="btn btn-danger btnpadding"
            onclick="var retVal = confirm('Do you want to disabled this ticket ?');if (retVal == true) {location.href = '/tickets/disabled/<%= ticket_s[13].data%>'};">Disabled This Ticket</button>    
    </div>
</div>

