<script src="../vendor/ejs/ejs.js"></script>

<script>
    $(document).ready(function() {
        var editmpobhtml = <%- JSON.stringify(editmpobhtml)%>;
        var mpob_s = <%- JSON.stringify(mpob_s)%>;
        var data = [];
        for (var i = 0; i < mpob_s.length; i++) {
            //var expiredDate = new Date(mpob_s[i].expiredDate);
          // outputs to "Thu May 28 2015"
            data.push([
                mpob_s[i].mpobLicNo,
                changeToDateFormat(mpob_s[i].expiredDate),
                mpob_s[i].custName,
                mpob_s[i].custIC,
                mpob_s[i].mpobId,
                mpob_s[i].lotNos,     
                mpob_s[i].mspoRegNo,           
                mpob_s[i].mspoCertNo,
                changeToDateFormat(mpob_s[i].MSPOExpiredDate),
                mpob_s[i].standard ,                
            ]);
        }
        var table = $('#mpob_s_view').DataTable({
            aaSorting: [],
            dom: 'Blfrtip',
            data: data,
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ],
            "responsive": {
                "details": {
                    "renderer": function(api, rowIdx, columns) {
                        // Show hidden columns in row details
                        var data = $.map(columns, function(col, i) {
                            if (col.columnIndex == 4) {
                                return;
                            } else {
                                return col.hidden ?
                                    '<tr><td>' + col.title + ':</td> ' +
                                    '<td>' + col.data + '</td></tr>' :
                                    '';
                            }
                        }).join('');
                        var htm = ejs.render(editmpobhtml, {
                            mpob_s: columns
                        });
                        data = $('<table width="100%"/>').append(data).prop('outerHTML');

                        // Extra: Show custom content
                        data += '<br><br><div class="container-fluid" style="border: thin solid black;width:90%">';
                        data += htm;
                        //console.log(html);
                        data += '';

                        data += '</div><br><br>';
                        return data;
                    }
                }
            }
        });

        // Handle click on "Expand All" button
        $('#btn-show-all-children').on('click', function() {
            // Expand row details
            table.rows(':not(.parent)').nodes().to$().find('td:first-child').trigger('click');
        });

        // Handle click on "Collapse All" button
        $('#btn-hide-all-children').on('click', function() {
            // Collapse row details
            table.rows('.parent').nodes().to$().find('td:first-child').trigger('click');
        });

























































        var editmpobhtml2 = <%- JSON.stringify(editmpobhtml2)%>;
        var mpob_s_disabled = <%- JSON.stringify(mpob_s_disabled)%>;
        var data = [];
        for (var i = 0; i < mpob_s_disabled.length; i++) {
            data.push([
                mpob_s_disabled[i].mpobLicNo,
                changeToDateFormat(mpob_s_disabled[i].expiredDate),
                mpob_s_disabled[i].custName,
                mpob_s_disabled[i].custIC,
                mpob_s_disabled[i].mpobId,
                mpob_s_disabled[i].lotNos,    
                mpob_s_disabled[i].mspoRegNo,            
                mpob_s_disabled[i].mspoCertNo,
                changeToDateFormat(mpob_s_disabled[i].MSPOExpiredDate),
                mpob_s_disabled[i].standard ,                     
            ]);
        }

        var table = $('#mpob_s_disabled_view').DataTable({
            aaSorting: [],
            dom: 'Blfrtip',
            data: data,
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ],
            "responsive": {
                "details": {
                    "renderer": function(api, rowIdx, columns) {
                        // Show hidden columns in row details
                        var data = $.map(columns, function(col, i) {
                            if (col.columnIndex == 4) {
                                return;
                            } else {
                                return col.hidden ?
                                    '<tr><td>' + col.title + ':</td> ' +
                                    '<td>' + col.data + '</td></tr>' :
                                    '';
                            }
                        }).join('');
                        var htm2 = ejs.render(editmpobhtml2, {
                            mpob_s_disabled: columns
                        });
                        data = $('<table width="100%"/>').append(data).prop('outerHTML');
                        // Extra: Show custom content
                        data += '<br><br><div class="container-fluid" style="border: thin solid black;width:90%">';
                        data += htm2;
                        //console.log(html);
                        data += '';
                        data += '</div><br><br>';
                        return data;
                    }
                }
            }
        });

        // Handle click on "Expand All" button
        $('#btn-show-all-children').on('click', function() {
            // Expand row details
            table.rows(':not(.parent)').nodes().to$().find('td:first-child').trigger('click');
        });

        // Handle click on "Collapse All" button
        $('#btn-hide-all-children').on('click', function() {
            // Collapse row details
            table.rows('.parent').nodes().to$().find('td:first-child').trigger('click');
        });
    });

    function changeToDateFormat(date) {
        if(date==null)
        {return '';}
        else{
        var datenew = new Date(date);
        datenew = moment(datenew).format('YYYY/MM/DD');
        return datenew;
        }
    }
    

</script>