<% include partials/header.ejs %>
<style>
    div.gallery {
        margin: 5px;
        border: 1px solid #ccc;
        float: left;
        width: 360px;
    }

    div.gallery:hover {
        border: 1px solid #777;
    }

    div.gallery img {
        width: 100%;
        height: auto;
    }

    div.desc {
        padding: 15px;
        text-align: center;
    }
</style>
<div class="container-fluid p-5 h-100 text-center">

    <div>
        <h1> WELCOME TO MYEZGM</h1>
    </div>    
    <%if(company && company?.coId===2){%>
    <div class="gallery">
        <a target="_blank" href="images/MSPO000089.jpg">
            <img src="images/MSPO000089.jpg" alt="Cinque Terre" width="100%" height="100%">
        </a>
        <div class="desc">MSPO 000089</div>
    </div>
    <div class="gallery">
        <a target="_blank" href="images/MSPO000263.jpg">
            <img src="images/MSPO000263.jpg" alt="Cinque Terre" width="100%" height="100%">
        </a>
        <div class="desc">MSPO 000263</div>
    </div>
    <%}%>
</div>
<% include partials/footer.ejs %>

</div>
<!-- /#page-content-wrapper -->
</div>
<!-- /#wrapper -->

</body>

</html>