<style>
    .btnpadding {
        margin: 10px;
    }
</style>
<div id="cust_buttons" class="p-5">
    <p class="h4 mb-4">Actions</p>
    <div class="row">
         <button type="button" class="btn btn-primary btnpadding" onclick="location.href = '/mpobs/<%= mpobs[2].data%>';">Go To This Page</button>
    </div>
</div>