<script src="../vendor/ejs/ejs.js"></script>

<script> 
$(document).ready(function () {
        var editlandhtml = <%- JSON.stringify(editlandhtml)%>;
        var lands = <%- JSON.stringify(lands)%>;
        var data = [];
        for ( var i=0 ; i<lands.length ; i++ ) {
                data.push( [ 
                    lands[i].lotNo, 
                    lands[i].titleNo, 
                    lands[i].custId, 
                    lands[i].area, 
                    lands[i].usageOfLand, 
                    lands[i].typeOfCondition,
                    `${lands[i].gpsLocationLng},${lands[i].gpsLocationLng}`,
                    lands[i].lotId
                    ] );
            }       
        var table = $('#landview').DataTable({
            dom: 'Blfrtip',
            data: data,
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ],
            "responsive": {
                "details": {
                    "renderer": function ( api, rowIdx, columns ) {
                        // Show hidden columns in row details
                        var data = $.map( columns, function ( col, i ) {
                            if (col.columnIndex == 7) 
                            {
                                return;
                            }
                            else {
                                return col.hidden 
                                ? '<tr><td>'+col.title+':</td> '+
                                    '<td>'+col.data+'</td></tr>' 
                                : '';
                            }
                        } ).join('');
                            var htm = ejs.render(editlandhtml,{lands: columns});
                            data = $('<table width="100%"/>').append( data ).prop('outerHTML');
                            
                            // Extra: Show custom content
                            data += '<br><br><div class="container-fluid" style="border: thin solid black;width:90%">';  
                            data += htm;
                            //console.log(html);
                            data += '';
//                         console.log(data);
// console.log(api.cell(rowIdx, 0).data());
//                         // Extra: Show "Name" in row details
//                         data += '<tr><td>Name:</td><td>' + api.cell(rowIdx, 0).data() + '</td></tr>';
//                         // Generate a table
//                         data = $('<table width="100%"/>').append( data ).prop('outerHTML');
                        
//                         // Extra: Show custom content
//                         data += '<div class="content-custom">Custom content</div>';
                            data += '</div><br><br>';  
                        return data;
                    }
                }
            }
        });

        // Handle click on "Expand All" button
        $('#btn-show-all-children').on('click', function () {
            // Expand row details
            table.rows(':not(.parent)').nodes().to$().find('td:first-child').trigger('click');
        });

        // Handle click on "Collapse All" button
        $('#btn-hide-all-children').on('click', function () {
            // Collapse row details
            table.rows('.parent').nodes().to$().find('td:first-child').trigger('click');
        });
    });
</script>
