<style>
.btnpadding {
    margin: 10px;
}
</style>
<div id="landsbuttons" class="p-5">
    <p class="h4 mb-4">Actions</p>
    <div class="row">
        <button type="button" class="btn btn-primary btnpadding" onclick="location.href = '/lands/<%= land_s[7].data%>';" >Edit This Lands</button>
        <button type="button" class="btn btn-secondary btnpadding" onclick="location.href = '/lands/doc/<%= land_s[7].data%>';" >View This Customer's Land Documents</button>
    </div>
</div>

