<script src="../vendor/ejs/ejs.js"></script>

<script> 
$(document).ready(function () {
        var edittransporterhtml = <%- JSON.stringify(edittransporterhtml)%>;
        var transporter_s = <%- JSON.stringify(transporter_s)%>;
        var data = [];
        //console.log(transporter_s);
        for ( var i=0 ; i<transporter_s.length ; i++ ) {
                data.push( [  
                    transporter_s[i].transporterName,
                    transporter_s[i].transporterAdd, 
                    transporter_s[i].transporterVehNo, 
                    transporter_s[i].priceMt, 
                    transporter_s[i].totalTransporterCost, 
                    transporter_s[i].transporterId, 
                    transporter_s[i].ticketId, 
                    ] );
            }       
 
        var table = $('#transporter_s_view').DataTable({
            aaSorting: [],
            dom: 'Blfrtip',
            data: data,
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ],
            "responsive": {
                "details": {
                    "renderer": function ( api, rowIdx, columns ) {

                        // Show hidden columns in row details
                        var data = $.map( columns, function ( col, i ) {
                            if (col.columnIndex == 5) 
                            {
                                return;
                            }
                            else {
                                return col.hidden 
                                ? '<tr><td>'+col.title+':</td> '+
                                    '<td>'+col.data+'</td></tr>' 
                                : '';
                            }
                        } ).join('');
                            var htm = ejs.render(edittransporterhtml,{transporter_s: columns});
                            data = $('<table width="100%"/>').append( data ).prop('outerHTML');
                            
                            // Extra: Show custom content
                            data += '<br><br><div class="container-fluid" style="border: thin solid black;width:90%">';  
                            data += htm;
                            //console.log(html);
                            data += '';

                            data += '</div><br><br>';  
                        return data;
                    }
                }
            }
        });

        // Handle click on "Expand All" button
        $('#btn-show-all-children').on('click', function () {
            // Expand row details
            table.rows(':not(.parent)').nodes().to$().find('td:first-child').trigger('click');
        });

        // Handle click on "Collapse All" button
        $('#btn-hide-all-children').on('click', function () {
            // Collapse row details
            table.rows('.parent').nodes().to$().find('td:first-child').trigger('click');
        });

























































        var edittransporterhtml2 = <%- JSON.stringify(edittransporterhtml2)%>;
        var transporter_s_disabled = <%- JSON.stringify(transporter_s_disabled)%>;
        var data = [];
        for ( var i=0 ; i<transporter_s_disabled.length ; i++ ) {
                data.push( [  
                    transporter_s_disabled[i].transporterName,
                    transporter_s_disabled[i].transporterAdd, 
                    transporter_s_disabled[i].transporterVehNo, 
                    transporter_s_disabled[i].priceMt, 
                    transporter_s_disabled[i].totalTransporterCost, 
                    transporter_s_disabled[i].transporterId, 
                    transporter_s_disabled[i].ticketId, 
                    ] );
            }          
        //console.log(customers);
        var table = $('#transporter_s_disabled_view').DataTable({
            aaSorting: [],
            dom: 'Blfrtip',
            data: data,
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ],
            "responsive": {
                "details": {
                    "renderer": function ( api, rowIdx, columns ) {
                        // Show hidden columns in row details
                        var data = $.map( columns, function ( col, i ) {
                            if (col.columnIndex == 5) 
                            {
                                return;
                            }
                            else {
                                return col.hidden 
                                ? '<tr><td>'+col.title+':</td> '+
                                    '<td>'+col.data+'</td></tr>' 
                                : '';
                            }
                        } ).join('');
                            var htm2 = ejs.render(edittransporterhtml2,{transporter_s_disabled: columns});
                            data = $('<table width="100%"/>').append( data ).prop('outerHTML');                       
                            // Extra: Show custom content
                            data += '<br><br><div class="container-fluid" style="border: thin solid black;width:90%">';  
                            data += htm2;
                            //console.log(html);
                            data += '';
                            data += '</div><br><br>';  
                        return data;
                    }
                }
            }
        });

        // Handle click on "Expand All" button
        $('#btn-show-all-children').on('click', function () {
            // Expand row details
            table.rows(':not(.parent)').nodes().to$().find('td:first-child').trigger('click');
        });

        // Handle click on "Collapse All" button
        $('#btn-hide-all-children').on('click', function () {
            // Collapse row details
            table.rows('.parent').nodes().to$().find('td:first-child').trigger('click');
        });
    });


    function changeToDateFormat(date) {
        var datenew = new Date(date);
        datenew = moment(datenew).format('YYYY/MM/DD');
        return datenew;
    }    
</script>
