<style>
    .btnpadding {
        margin: 10px;
    }
</style>
<div id="cust_buttons" class="p-5">
    <p class="h4 mb-4">Actions</p>
    <div class="row">
        <button type="button" class="btn btn-primary btnpadding" onclick="location.href = '/mspos/<%= mspo_s[4].data%>';">Edit This MSPO</button>
        <button type="button" class="btn btn-secondary btnpadding" onclick="location.href = '/mspos/doc/<%= mspo_s[4].data%>';">View This MSPO Documents</button>
        <button type="button" class="btn btn-danger btnpadding" onclick="var retVal = confirm('Do you want to disabled this MSPO ?');if (retVal == true) {location.href = '/mspos/disabled/<%= mspo_s[4].data%>'};">Disabled This MSPO</button>
    </div>
</div>