<% include partials/header.ejs %>
<div id="superadmin_edit" class="container-fluid">
    <div class="" style="border:1px solid">
        <form class="p-5" name="superadmin_edit_form" method="POST" action="/superadmin/edit">
            <p class="h4 mb-4">Edit Company</p>

                <label for="textInput">Company Name</label>
                <input type="text" id="compname" name="compname" required class="form-control mb-4" value="<%= superadmin[0].coName %>">

                <label for="textInput">Company Address</label>
                <input type="text" id="compadd" name="compadd" required class="form-control mb-4"  value="<%= superadmin[0].coAdd %>">

                <label for="textInput">Company Tel. No</label>
                <input type="text" id="comptel" name="comptel" class="form-control mb-4" required value="<%= superadmin[0].coTel %>">

                <input type="hidden" id="coId" name="coId" value="<%= superadmin[0].coId%>">
                <br><br>
                <div class="row">
                    <div class="col-sm-3">
                        <a href="/superadmin/">
                            <input type=button class="btn btn-secondary btn-block" value="Back" onclick="">
                        </a>
                    </div>
                    <div class="col-sm-3">
                        <button class="btn btn-primary btn-block" type="submit">Save Company</button>
                    </div>
                </div>
            </form>
    </div>
</div>

<% include partials/footer.ejs %>
</div>
<!-- /#page-content-wrapper -->
</div>

</body>

</html>


<script>
    $(function () {
        var chartformat = "YYYY-MM-DD";
        $('#expiredDatePicker').datetimepicker({
            format: chartformat,
        });

        $("#custId").select2({
            placeholder: "Select a Customer",
            width: 'resolve',
        });
    }); 
</script>