<script src="../vendor/ejs/ejs.js"></script>

<script>
    $(document).ready(function() {
        var editsuperadminhtml = <%- JSON.stringify(editsuperadminhtml)%>;
        var superadmin_s = <%- JSON.stringify(superadmin_s)%>;
        console.log(superadmin_s);
        var data = [];
        for (var i = 0; i < superadmin_s.length; i++) {
        var createdDate = new Date(superadmin_s[i].createdDate);
            
            data.push([
                superadmin_s[i].coId,
                superadmin_s[i].coName,
                superadmin_s[i].coAdd,
                superadmin_s[i].coTel,
                (superadmin_s[i].deactivated == 1)?"DEACTIVE":"ACTIVE",
                changeToDateFormat(createdDate),
                ''
            ]);
        }
        var table = $('#superadmin_s_view').DataTable({
            aaSorting: [],
            dom: 'Blfrtip',
            data: data,
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ],
            "responsive": {
                "details": {
                    "renderer": function(api, rowIdx, columns) {
                        // Show hidden columns in row details
                        var data = $.map(columns, function(col, i) {
                            if (col.columnIndex == 6) {
                                return;
                            } else {
                                return col.hidden ?
                                    '<tr><td>' + col.title + ':</td> ' +
                                    '<td>' + col.data + '</td></tr>' :
                                    '';
                            }
                        }).join('');
                        var htm = ejs.render(editsuperadminhtml, {
                            superadmin_s: columns
                        });
                        data = $('<table width="100%"/>').append(data).prop('outerHTML');

                        // Extra: Show custom content
                        data += '<br><br><div class="container-fluid" style="border: thin solid black;width:90%">';
                        data += htm;
                        //console.log(html);
                        data += '';

                        data += '</div><br><br>';
                        return data;
                    }
                }
            }
        });

        // Handle click on "Expand All" button
        $('#btn-show-all-children').on('click', function() {
            // Expand row details
            table.rows(':not(.parent)').nodes().to$().find('td:first-child').trigger('click');
        });

        // Handle click on "Collapse All" button
        $('#btn-hide-all-children').on('click', function() {
            // Collapse row details
            table.rows('.parent').nodes().to$().find('td:first-child').trigger('click');
        });


    function changeToDateFormat(date) {
        var datenew = new Date(date);
        datenew = moment(datenew).format('YYYY/MM/DD');
        return datenew;
    }
    });
    
</script>