<style>
    .btnpadding {
        margin: 10px;
    }
</style>
<div id="cust_buttons" class="p-5">
    <p class="h4 mb-4">Actions</p>
    <div class="row">
        <button type="button" class="btn btn-info btnpadding"
            onclick="var retVal = confirm('Do you want to restore this customer ?');if (retVal == true) {location.href = '/customers/restore/<%= cust_s_disabled[7].data%>'};">Restore</button>
         <button type="button" class="btn btn-danger btnpadding"
            onclick="var retVal = confirm('Do you want to delete this customer ? (This will permanently delete the customer)');if (retVal == true) {location.href = '/customers/delete/<%= cust_s_disabled[7].data%>'};">Delete</button>
    </div>
</div>