<% include partials/header.ejs %>
<div class="container-fluid">
    <div class="tab">
        <button class="tablinks" onclick="openTabs(event, 'cust_s')" value=cust_s>Customers</button>
        <button class="tablinks" onclick="openTabs(event, 'cust_create')" value=cust_create>Create
            Customer</button>
    </div>
    <div class="" style="border:1px solid">
        <div id="cust_s" class="tabcontent">
            <div class="panel-heading">
                <h3>Customers List</h3>
            </div>
            <div class="panel-body">
                <table id="cust_s_view" class="display" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Customer No</th>
                            <th>Customer Name</th>
                            <th>Customer IC</th>
                            <th>Company No</th>
                            <th>Customer Tel.</th>
                            <th class="none">Address 1</th>
                            <th class="none">Address 2</th>
                            <th class="none">Address 3</th>
                            <th class="none">Cust Id</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Customer No</th>
                            <th>Customer Name</th>
                            <th>Customer IC</th>
                            <th>Company No</th>
                            <th>Customer Tel.</th>
                            <th>Address 1</th>
                            <th>Address 2</th>
                            <th>Address 3</th>
                            <th>Cust Id</th>
                        </tr>
                    </tfoot>
                    <tbody>

                    </tbody>
                </table>

                <br> <br> <br> <br>
                <div class="panel-heading">
                    <h3>Disabled Customers List</h3>
                    <h4>You have <%= cust_s_disabled.length%> disabled customers</h4>
                    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">Disabled List
                        (<%= cust_s_disabled.length%>)</button>

                </div>
                <br> <br>
                <div id="demo" class="collapse">
                    <table id="cust_s_disabled_view" class="display" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>Customer No</th>
                                <th>Customer Name</th>
                                <th>Customer IC</th>
                                <th>Company No</th>
                                <th>Customer Tel.</th>
                                <th class="none">Address 1</th>
                                <th class="none">Address 2</th>
                                <th class="none">Address 3</th>
                                <th class="none">Cust Id</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Customer No</th>
                                <th>Customer Name</th>
                                <th>Customer IC</th>
                                <th>Company No</th>
                                <th>Customer Tel.</th>
                                <th>Address 1</th>
                                <th>Address 2</th>
                                <th>Address 3</th>
                                <th>Cust Id</th>
                            </tr>
                        </tfoot>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
            <!-- /#page-content-wrapper -->
        </div>
        <div id="cust_create" class="tabcontent">

            <form class="p-5" name="cust_form" method="POST" action="/customers/createcustomer"
                enctype="multipart/form-data">
                <%if((cust_s.length>=company[0].maxCust) && company[0].maxCust!=9999){%>
                <p class="h4 mb-4" style="color: red">Customers Had Exceed The Limit</p>
                <%}%>
                <%if((cust_s.length<company[0].maxCust) || company[0].maxCust==9999) {%>
                <p class="h4 mb-4">Create New Customer</p>
                <div class="row">
                    <div class="col-sm-6">
                        <label for="textInput">Customer No</label>
                        <input type="text" id="custNo" name="custNo" class="form-control mb-4" required
                            placeholder="Enter Customer No Here">
                    </div>
                    <div class="col-sm-6">
                        <label for="textInput">Customer Name</label>
                        <input type="text" id="custName" name="custName" class="form-control mb-4" required
                            placeholder="Enter Customer Name Here">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <label for="textInput">Customer IC</label>
                        <input type='text' pattern="[0-9]{6}[-]{1}[0-9]{2}[-]{1}[0-9]{4}"
                            oninvalid="alert('Please Enter The IC in XXXXX-XX-XXX format');" id="custIC" name="custIC"
                            class="form-control mb-4" required placeholder="Enter Customer IC Here">
                    </div>
                    <div class="col-sm-3">
                        <label for="textInput">Company No</label>
                        <input type='text' id="compNo" name="compNo" class="form-control mb-4" required placeholder="Key In None To Skip"
                            placeholder="Enter Company No Here">
                    </div>
                    <div class="col-sm-6">
                        <label for="textInput">Customer Tel.</label>
                        <input type="number" id="custTel" name="custTel" class="form-control mb-4"
                            placeholder="Enter Customer Telephone No Here">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <label for="textInput">Address 1</label>
                        <input type="text" id="custAdd1" name="custAdd1" class="form-control mb-4"
                            placeholder="Enter Customer Address 1 Here">
                    </div>
                    <div class="col-sm-6">
                        <label for="textInput">Address 2</label>
                        <input type="text" id="custAdd2" name="custAdd2" class="form-control mb-4"
                            placeholder="Enter Customer Address 2 Here">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <label for="textInput">Address 3</label>
                        <input type="text" id="custAdd3" name="custAdd3" class="form-control mb-4"
                            placeholder="Enter Customer Address 3 Here">
                    </div>
                </div>
                <p class="h4 mb-4">Upload Document Here</p>
                <div class="row">
                    <div class="col-sm-6">
                        <label for="icupload">IC Photo</label><br>

                        <input type="file" name="icupload" id="icupload" onchange="myFunction()">
                        <br>
                        <div id="uploadpreview"></div>
                        <br>
                    </div>
                </div>
                <p class="h4 mb-4"></p>

                <div class="row">
                    <div class="col-sm-6">
                        <button class="btn btn-primary btn-block" type="submit">Create New Customer</button>
                    </div>
                </div>
                <%}%>
            </form>
        </div>

    </div>
</div>
<% include partials/footer.ejs %>

        </div>
        <!-- /#page-content-wrapper -->
    </div>

    </body>

    </html>
    <script>
        function openTabs(evt, tabname) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(tabname).style.display = "block";
            evt.currentTarget.className += " active";
            localStorage.setItem('activeCust_Tab', tabname);
        }

        $(document).ready(function () {
            $(function () {
                $('a').each(function () {
                    if ($(this).prop('href') == window.location.href) {
                        $(this).addClass('active'); $(this).parents('li').addClass('active');
                    }
                });
            });

            tablinks = document.getElementsByClassName('tablinks');
            var activeCust_Tab = localStorage.getItem('activeCust_Tab');
            if (activeCust_Tab === null || activeCust_Tab == '') {
                tablinks[0].click();
            } else {
                for (i = 0; i < tablinks.length; i++) {
                    if (tablinks[i].value == activeCust_Tab)
                        tablinks[i].click();
                }
            }
        });

        function myFunction() {
            var x = document.getElementById("icupload");
            var txt = "";
            if ('files' in x) {
                if (x.files.length == 0) {
                    txt = "Select one or more files.";
                } else {
                    for (var i = 0; i < x.files.length; i++) {
                        txt += "<br><strong>" + (i + 1) + `. file</strong><br><input type="text" class="form-control mb-1" id="icrename[${i}]" name="icrename[${i}]" placeholder="Enter to Change the File Name. Blank for default name">`;
                        var file = x.files[i];
                        if ('name' in file) {
                            txt += "name: " + file.name + "<br>";
                        }
                        if ('size' in file) {
                            txt += "size: " + file.size + " bytes <br>";
                        }
                    }
                }
            }
            else {
                if (x.value == "") {
                    txt += "Select one or more files.";
                } else {
                    txt += "The files property is not supported by your browser!";
                    txt += "<br>The path of the selected file: " + x.value; // If the browser does not support the files property, it will return the path of the selected file instead. 
                }
            }
            document.getElementById("uploadpreview").innerHTML = txt;
        }    
    </script>
    <% include customers/customersjs.ejs %>